<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!-- Custom CSS -->
    <link href="../static/css/nav.css" rel="stylesheet">
<body>
<body class="news">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/search">Search</a></li>
        <li class="tutorials"><a class="active" href="/profile/{{userId}}">Profile</a></li>
        <li class="about"><a href="/edit-person/{{userId}}">Edit Profile</a></li>
      </ul>
    </div>
  </header>
</body>
</body>
</head>
</html>