{% extends 'layout.html' %}
{% block heading %}User Profile: {{user.first_name}}{% endblock %}
{% block content %}
<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<p>Department: {{user.department.name}}</p>
<p>Interests:
  <ul>
    {% for interest in user.interest %}
    <li>{{interest.field}}</li>
    {% endfor %}
  </ul>
</p>
<hr/>
<p><a href="{{url_for('edit_drinker', name=drinker.name)}}">Edit</a>
  this information.</p>
{% endblock %}
