{% extends 'layout.html' %} {% block heading %}
<div class="container">
  <div class="page-hearder">Profile</div>
</div>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-14">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h2>{{user.first_name}} {{user.last_name}}</h2>
              <p>
                <strong>Email: </strong>{{user.email}}
              </p>
              <p>
                <strong>Website: </strong>{{user.website}}
              </p>
              <p><strong>Resume: </strong>
                {% if user.resume %}
                <a href="{{url_for('resume', netid=user.netid)}}" target="_blank">View</a>
                {% else %}
                None
                {% endif %}
              </p>
              <p>
                <strong>Department(s): </strong>
                <ul>
                  {% for department in user.departments|sort(attribute='dept_id') %}
                  <li>{{department.dept_id}}</li>
                  {% endfor %}
                </ul>
              </p>
              <p>
                <strong>Interest(s): </strong>
                {% for interest in user.interests|sort(attribute='field') %}
                <span class="label label-info tags">{{interest.field}}</span>
                {% endfor %}
              </p>
              {% if student %}
              <p>
                <strong>Status: </strong>{{student.status}}
              </p>
              <p>
                <strong>Start Year: </strong>{{student.start_year}}
              </p>
              {% endif %}
              {% if faculty %}
              <p>
                <strong>Title: </strong>{{faculty.title}}
              </p>
              <p>
                <strong>Opening: </strong>{{faculty.opening}}
              </p>
              {% endif %}
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="/static/img/empty-profile.png" alt="" class="center-block img-circle img-responsive">
            </div>
            <!--/col-->

            <div class="col-xs-12 col-sm-4">
              <a class="btn btn-success btn-block" href="{{url_for('edit_profile', netid=user.netid)}}">
                <span class="fa fa-plus-circle"></span> Edit </a>
            </div>
            <!--/col-->
          </div>
          <!--/col-->
        </div>
        <!--/row-->
      </div>
      <!--/panel-body-->
    </div>
    <!--/panel-->
  </div>
</div>
</div>
{% endblock %}