{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/searchpage.css" type="text/css" media="screen"/>
{% endblock %}
{% block heading %}Search Page{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Nav tabs -->
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#department" aria-controls="Department Search" role="tab" data-toggle="tab">Department Search</a></li>
                        <li role="presentation"><a href="#professor" aria-controls="Professor Search" role="tab" data-toggle="tab">Professor Search</a></li>
                        <li role="presentation"><a href="#interests" aria-controls="Interests Search" role="tab" data-toggle="tab">Interests Search</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="department">
                            <center>
                                <form method="get" action="/search" id="Department Search">
                                    <input name="q" type="text" size="40" placeholder="Department Search" />

                                    <center>
                                        <button type="search" class="custombtn">
                                            <img src="../static/img/search3.png" alt="search" />
                                        </button>
                                    </center>

                                </form>
                            </center>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="professor">
                            <center>
                                <form method="get" action="/search" id="Professor Search">
                                    <input name="q" type="text" size="40" placeholder="Professor Search" />

                                    <center>
                                        <button type="search" class="custombtn">
                                            <img src="../static/img/search3.png" alt="search" />
                                        </button>
                                    </center>

                                </form>
                            </center>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="interests">
                            <center>
                                <form method="get" action="/search" id="Interests Search">
                                    <input name="q" type="text" size="40" placeholder="Interests Search" />

                                    <center>
                                        <button type="search" class="custombtn">
                                            <img src="../static/img/search3.png" alt="search" />
                                        </button>
                                    </center>

                                </form>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
{% endblock %}
{% block jquery %}
<script src="/static/js/searchprof.js"></script>
<script src="/static/js/searchdept.js"></script>
<script src="/static/js/search_interests.js"></script>
{% endblock %}
