{% extends 'layout.html' %}
{% block css %}
{% endblock %}
{% block heading %}Search Results{% endblock %}
{% block content %}
<body>
    {%for user in users%}
    <ul>
        <h3>{{user.firstname} {user.lastname}}</h3>
        <ul>
            <li> Title: {{user.title}} </li>

            <li> Departments:
                <ul>
                    {% for dept in user.departments %}
                    <li>{{dept.dept_id}}</li>
                    {% end for %}
                </ul>
            </li>
            <li> Interests:
                <ul>
                    {% for interest in user.interests %}
                    <li>{{interest.field}}</li>
                    {% end for %}
                </ul>
            </li>
        </ul>
      </ul>
   {%end for%}

</body>

{% endblock %}
{% block jquery %}
{% endblock %}