{% extends 'layout.html' %}
{% block css %}
{% endblock %}
{% block heading %}Search Results{% endblock %}
{% block content %}
   <body>
   	{%for faculty in matches%}
    <h3>{{faculty['firstname']} {faculty['lastname']}}</h3>
      <ul>
         <li> Title: faculty['title'] </li>
         {% for dept in faculty['departments'] %}
         <li> Department: dept
         	{% end for %}
         </li>
         <li> Interests: faculty['interests'] </li>
      </ul>
      {% endfor %}
   </body>

{% endblock %}
{% block jquery %}
{% endblock %}